<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Storage
    </h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Path</th>
          <th class="text-center">Size</th>
          <th class="text-center">Usage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disk of diskData">
          <td>{{disk.path}}</td>
          <td class="text-center">{{disk.size}} MB</td>
          <td class="text-center">{{disk.usedPercent}}% is used</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
