<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Change data interval</h3>
    </div>
    <div class="panel-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{interval}}" #intervalInput>
        <div class="input-group-addon">seconds</div>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="onChangeInterval()">Set</button>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <app-active-hosts-list></app-active-hosts-list>
</div>
