<div class="panel panel-default text-center">
  <div class="panel-heading">
    <h3 class="panel-title">System-wide RAM usage</h3>
  </div>
  <div class="panel-body">
    <chart [type]="type" [data]="data" [options]="options"></chart>
    <div class="panel panel-default">
      <h4 style="color: rgba(109, 109, 109, 0.822); margin-bottom: 0px;">Memory used</h4>
      <h3 style="margin-top: 0px; margin-bottom: 0px;">{{byteToMega(memoryData.usedMem)}} MB</h3>
      <h5 style="margin-top: 0px">Total memory: {{byteToMega(memoryData.totalMem)}} MB</h5>
    </div>
  </div>
</div>
